## variable

- 변수 : 데이터를 저장하는 공간
 - 예) a = 10
 
- = 대입연산자  == 비교연산자

- 변수 : 데이터를 저장하는 공간
 - 예) a = 10
 
- = 대입연산자  == 비교연산자

- 변수명 규칙
 - 영문, _ 시작  O, 숫자 시작 X
 - 이해하기 쉽게 naming 예) car_avg_cnt
 - 예약어(키워드) 사용 X 예) print = 10     # 보통 녹색으로 표기됨

In [1]:
a = 10
b = 30

In [2]:
a + b

40

In [3]:
print(a)

10

## data type

- numbers 

 - int

 - float
 

- character

 - "aa"
 
 - 'aa'
 
 - '''aa'''
 
 - """aa"""
 
 - index : 0부터 시작, -1 마지막 문자

bulean

None

In [1]:
8 + 9

17

In [2]:
a = 8

In [3]:
type(a)

int

In [4]:
b = 9.0

In [5]:
type(b)

float

In [7]:
a = a - 5
# a -=5 과 동일

In [18]:
c = "oh 'ah~' good"

In [19]:
print(c)

oh 'ah~' good

In [20]:
print('ha ha \n er er')

ha ha
 er er

In [26]:
# 첫 index
c[0]

'o'

In [27]:
# 마지막 index
c[-1]

'd'

In [49]:
# slicing , 마지막 전까지 가져옴  start:end::increment
c[0:6]

"oh 'ah"

In [32]:
c[:]

"oh 'ah~' good"

In [33]:
c[:8]

"oh 'ah~'"

In [34]:
c.upper()

"OH 'AH~' GOOD"

In [35]:
c.replace('o','i')

"ih 'ah~' giid"

In [36]:
d = '평균 : {} , 합계 : {}'.format(a,b)

In [37]:
d

'평균 : -2 , 합계 : 9.0'

In [38]:
c.split(' ')

['oh', "'ah~'", 'good']

- list : 복수개 값, 변경 O 

  - []


- tuple : 변경 X

  - ()

In [71]:
l = [1, 2, 3, 4, 5]
f = [ 'aa', 1,2, 'kk']
l
f

['aa', 1, 2, 'kk']

In [46]:
print(l)
print(f)

[1, 2, 3, 4, 5]
['aa', 1, 2, 'kk']

In [42]:
t = (1,2,3)
t

(1, 2, 3)

In [48]:
# list update
l[0] = 100
l

[100, 2, 3, 4, 5]

In [50]:
l[0:5:2]

[100, 3, 5]

In [52]:
# append
l.append(10)
print(l)

[100, 2, 3, 4, 5, 10, 10]

In [64]:
ff = [1,2,3]

In [72]:
# extend

# kk = l.append(f)
jj = l.extend(f) # l+f
oo = l.insert(1,20)

None
None
None

In [73]:
l

[1, 20, 2, 3, 4, 5, 'aa', 1, 2, 'kk']

In [78]:
l.remove(1)

In [79]:
l

[20, 2, 3, 4, 5, 'aa', 1, 2, 'kk']

In [81]:
l.pop(2)

3

In [82]:
tf = 7 in l

In [83]:
tf

False

In [91]:
j = [ 1,20,3,40]

In [93]:
j.sort(reverse=True)
j

[40, 20, 3, 1]

In [94]:
type(t)

tuple

In [96]:
# tuple unpacking
a, b = 1 , 2
print(a,b)

1 2

In [97]:
# value change

# temp = a
# a = b
# b = temp

a, b = b, a
print(a,b)

2 1

- dictionary
 - key, value 구조 (key 중복 불가)

In [102]:
dic = {'menu1':'kimchijjigae',
       'menu2': 'bibimbab',
       'menu3': 'gamjatang'}

dic2 = {0:1, 2:3, 3:5}

In [104]:
dic

{'menu1': 'kimchijjigae', 'menu2': 'bibimbab', 'menu3': 'gamjatang'}

In [105]:
dic['menu4'] = 'kimbab'

In [106]:
dic

{'menu1': 'kimchijjigae',
 'menu2': 'bibimbab',
 'menu3': 'gamjatang',
 'menu4': 'kimbab'}

In [110]:
dic.get('menu1')

'kimchijjigae'

In [117]:
# update
dic['menu4'] = 'chamchi-kimbab'
dic

{'menu1': 'kimchijjigae',
 'menu2': 'bibimbab',
 'menu3': 'gamjatang',
 'menu4': 'chamchi-kimbab'}

In [118]:
# remove
dic.pop('menu1')

'kimchijjigae'

In [119]:
dic

{'menu2': 'bibimbab', 'menu3': 'gamjatang', 'menu4': 'chamchi-kimbab'}

In [121]:
# key 탐색
'menu2' in dic

True

In [123]:
list(dic.keys())

['menu2', 'menu3', 'menu4']

In [124]:
list(dic.values())

['bibimbab', 'gamjatang', 'chamchi-kimbab']

- set
 - 수학 집합과 동일, 중복 X, 순서 X

In [127]:
s = {1,1,3,3, 4,5}

In [128]:
s

{1, 3, 4, 5}

In [129]:
type(s)

set

In [130]:
s.union(s) #합집합...

{1, 3, 4, 5}