In [1]:
import pandas as pd

In [ ]:
import math
def age_cat(age):
    if math.isnana(age):
        return -1
    return math.floor(age/10)*10

In [ ]:
df.set_index('age').groupby(age_categroy).mean()['survived']

In [ ]:
df.set_index(['class','age']).groupby(level=[0,1]).mena()

In [ ]:
df.set_index(['class','age']).groupby(level=[0,1]).aggregate([np.mean,np.sum,np.max])

In [ ]:
df.groupby(['class']).mean()

In [ ]:
# 기존index유지하면서 평균 내려면 이렇게해야함
df.groupby(['class']).transorm(np.mean)

In [ ]:
df['age2'] = df.groupby('class').transorm(np.mean)['age']

In [ ]:
df['age2'] = df.groupby('vin').transorm(np.mean)['age']

In [ ]:
# index 중복이면 안됨 -> pivot_table 사용해야함
df.pivot('지역','요일')

In [ ]:
pd.pivot_table(df, index='요일', columns='지역', aggfunc=mean)

In [ ]:
df.set_index(['요일','지역'])

In [ ]:
df.unstack(0)

In [ ]:
df.unstack(0).stack(0)

In [ ]:
# concat 열이나 행 레벨로 붙임 
pd.concat(df1,df2, ignore_index=True)

In [ ]:
#열레벨로 병합
pd.concat(df1,df2, axis=1)

In [ ]:
pd.merge(df1,df2, on='id', how='left')